{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block head %}
<script src="{{ asset('/web/bundles/netrunnerdbcards/js/reviews.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container reviews">

<div class="text-center">
<ul class="pagination pagination-sm" style="margin-top:0">
{% if prevurl is null %}
  <li class="disabled"><a href="#">&laquo;</a></li>
{% else %}
  <li class=""><a href="{{ prevurl }}">&laquo;</a></li>
{% endif %}
{% for page in pages %}
{% if page.current %}
  <li class="active"><a href="{{ page.url }}">{{ page.numero }} <span class="sr-only">(current)</span></a></li>
{% else %}
  <li><a href="{{ page.url }}">{{ page.numero }}</a></li>
{% endif %}
{% endfor %}
{% if nexturl is null %}
  <li class="disabled"><a href="#">&raquo;</a></li>
{% else %}
  <li class=""><a href="{{ nexturl }}">&raquo;</a></li>
{% endif %}
  </ul>
</div>

<div class="reviews row">
	<div class="col-lg-8 col-lg-push-2">
{% if reviews|length > 0 %}{% for i in 0..reviews|length-1 %}{% set review = reviews[i] %}{% set card = review.card %}
<div class="row" style="margin-bottom:2em;border-bottom:1px solid #ddd"><div class="col-lg-12">
	   <article class="review" data-index="{{ review.id }}" id="review-{{ review.id }}">
    	   {% if card.imagesrc %}
    	       <img src="{{ card.imagesrc }}" alt="{{ card.title }}" style="float:right;width:165px;height:230px;margin:0 0 20px 20px">
            {% else %}
               <div class="no-image" style="float:right;width:165px;height:230px;margin:0 0 20px 20px"><div class="no-image-text">No image</div></div>
            {% endif %}
	       <header>
	           <span class="pull-right social">
	               <a href="#" class="social-icon-like" data-toggle="tooltip" data-placement="bottom" title="Like that review">
	                   <span class="glyphicon glyphicon-heart"></span> <span class="num">{{ review.nbvotes }}</span>
	               </a>
	           </span>
	           <h4><a href="{{ path('cards_zoom', {card_code:review.card.code}) }}#review-{{ review.id }}" class="card card-title">{{ review.card.title }}</a></h4>
	           by <a href="{{ path('user_profile_view', {user_id:review.author_id,user_name:review.author_name|e('url')}) }}" rel="author" class="username {{ review.author_color }}">{{ review.author_name }}</a>
	           {% if review.donation > 0 %}<span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span>{% endif %}
	           <time class="pull-right" datetime="{{ review.datecreation|date('Y-m-d') }}" title="{{ review.datecreation|date('F jS, Y') }}">{{ review.datecreation|date('n/j/y') }}</time>
	       </header>
	       <div class="review-content">
	           {{ review.text|raw }}
	       </div>
	   </article>
</div></div>
{% endfor %}{% endif %}
</div>
</div>


<div class="text-center">
<ul class="pagination pagination-sm" style="margin:0">
{% if prevurl is null %}
  <li class="disabled"><a href="#">&laquo;</a></li>
{% else %}
  <li class=""><a href="{{ prevurl }}">&laquo;</a></li>
{% endif %}
{% for page in pages %}
{% if page.current %}
  <li class="active"><a href="{{ page.url }}">{{ page.numero }} <span class="sr-only">(current)</span></a></li>
{% else %}
  <li><a href="{{ page.url }}">{{ page.numero }}</a></li>
{% endif %}
{% endfor %}
{% if nexturl is null %}
  <li class="disabled"><a href="#">&raquo;</a></li>
{% else %}
  <li class=""><a href="{{ nexturl }}">&raquo;</a></li>
{% endif %}
  </ul>
</div>

</div>

{% endblock %}