{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block head %}
<script src="{{ asset('/web/bundles/netrunnerdbevents/js/event.js') }}"></script>
<script src="{{ asset('/web/bundles/netrunnerdbevents/js/event_create.js') }}"></script>
<script type="text/javascript">
delete NRDB.api_url;
$(function() {
    var date = moment("{{ event.datetimestart|date('c') }}").tz("{{ event.timezone }}").toArray();
	var date_components = ['year', 'month', 'day', 'hour', 'minute'];
	$.each(date_components, function (i, date_component) {
		$('#datetimestart-'+date_component).val(date[i]);
	});

	update_address();
	$('#player-add-form').submit(add_player);
	
});

function add_player(event) {
	event.preventDefault();
	$('#playerAddModal').modal('hide')
	
	var data = $(this).serialize();
	console.log(data);

	$.ajax(Routing.generate('attendance_add', {event_id: {{ event.id }}}), {
	    data: data,
		type: 'POST',
		success: function(data, textStatus, jqXHR) {
			console.log('success', data);
			$('#div-view-past').html(data);
		},
		error: function(jqXHR, textStatus, errorThrown) {
			console.log(jqXHR);
		},
		complete: function () {
			
		}
	});
}
</script>

{% endblock %}

{% block body %}
<div class="container event">

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ flashMessage }}</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ flashMessage }}</div>
{% endfor %}

<h1>Manage your event</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Results</h3>
  </div>
  <div class="panel-body" id="div-view-past">
    {% include 'NetrunnerdbEventsBundle:Event:event_view_past.html.twig' %}
  </div>
  <div class="panel-footer">
    <button id="btn-add-player" class="btn btn-success" onclick="$('#playerAddModal').modal('show')">Add a player</button>
  </div>
</div>

<form action="{{ path('event_upload_nrtm',{_locale:app.request.locale,event_id:event.id}) }}" method="POST" enctype="multipart/form-data">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Upload JSON file from NRTM</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="upfile">File</label>
            <input class="form-control" type="file" id="upfile" name="upfile">
        </div>
    </div>
	<div class="panel-footer">
		<button type="submit" class="btn btn-success">Upload</button>
	</div>
</div>
</form>

<form action="{{ path('event_save',{_locale:app.request.locale}) }}" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="id" value="{{ event.id }}">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" maxlength="255" value="{{ event.name }}">
        <p class="help-block">Name of the event. Use the language spoken at the event.</p>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="10">{{ event.description }}</textarea>
        <p class="help-block">Description of the event, including entry fee, prices, etc.</p>
    </div>
    <fieldset>
    <legend>Format information</legend>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="last_pack">Last pack allowed</label>
                <select class="form-control" id="last_pack" name="last_pack">{% for pack in packs %}<option value="{{ pack.code }}"{% if event.lastPack and pack.code == event.lastPack.code %} selected="selected"{% endif %}>{{ pack.name }}</option>{% endfor %}</select>
                <p class="help-block">Use the event description if you need to specify more complex rules.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="tier">Tournament Tier</label>
                <select class="form-control" id="tier" name="tier">{% for tier in tiers %}<option value="{{ tier.id }}"{% if tier.id == event.tier.id %} selected="selected"{% endif %}>{{ tier.name }}</option>{% endfor %}</select>
                <p class="help-block">Refers to the Tiers of Tournament Play defined by FFG in their Tournament Rules.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="championship">Championship Play</label>
                <select class="form-control" id="championship" name="championship"><option value="0"{% if event.championship == 0 %} selected="selected"{% endif %}>None</option><option{% if event.championship == 8 %} selected="selected"{% endif %}>8</option><option{% if event.championship == 16 %} selected="selected"{% endif %}>16</option><option{% if event.championship == 32 %} selected="selected"{% endif %}>32</option></select>
                <p class="help-block">The number of players qualified for Championship Play after the Swiss Pairings.</p>
            </div>
        </div>
    </div>
    </fieldset>
    <fieldset>
    <legend>Location information</legend>
    <div class="form-group">
        <label for="location">Venue</label>
        <input type="text" class="form-control" id="location" name="location" value="{{ event.location }}">
        <p class="help-block">Name of the venue, e.g. name of your FLGS.</p>
    </div>
    <div class="form-group">
        <label for="freelocation">Address</label>
        <div class="input-group">
            <input type="text" class="form-control" id="freelocation" value="{{ event.address }}">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
        </div>
        <p class="help-block">Address of the venue &mdash; make sure that the location is properly found below.</p>
    </div>
    <div class="row">
    <div class="col-md-6 form-group">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Full Address</label>
                <div class="col-sm-9">
                    <p class="form-control-static" id="location-address">&mdash;</p>
                    <input type="hidden" id="address" name="address">
                    <input type="hidden" id="latitude" name="latitude">
                    <input type="hidden" id="longitude" name="longitude">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Locality</label>
                <div class="col-sm-9">
                    <p class="form-control-static" id="location-locality">&mdash;</p>
                    <input type="hidden" id="locality" name="locality">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Area</label>
                <div class="col-sm-9">
                    <p class="form-control-static" id="location-area">&mdash;</p>
                    <input type="hidden" id="area" name="area">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Country</label>
                <div class="col-sm-9">
                    <p class="form-control-static" id="location-country">&mdash;</p>
                    <input type="hidden" id="country" name="country">
                    <input type="hidden" id="country_code" name="country_code">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 form-group">
        <div id="map-canvas"></div>
    </div>
    </div>
    </fieldset>
    <fieldset>
    <legend>Date and time information</legend>
    <div class="form-group">
        <label>Start of the event</label>
        <div class="row" id="row-start">
        <input type="hidden" id="datetimestart" name="datetimestart">
        <div class="col-md-6 form-horizontal">
            <div class="row form-group">
            <label class="col-sm-2 control-label">Date</label>
            <div class="col-sm-3">
                <select class="form-control" id="datetimestart-year"><option>2012</option><option>2013</option><option>2014</option><option>2015</option><option>2016</option><option>2017</option><option>2018</option><option>2019</option><option>2020</option></select>
            </div>
            <div class="col-sm-4">
                <select class="form-control" id="datetimestart-month"><option value="0">January</option><option value="1">February</option><option value="2">March</option><option value="3">April</option><option value="4">May</option><option value="5">June</option><option value="6">July</option><option value="7">August</option><option value="8">September</option><option value="9">October</option><option value="10">November</option><option value="11">December</option></select>
            </div>
            <div class="col-sm-3">
                <select class="form-control" id="datetimestart-day"><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option></select>
            </div>
            </div>
        </div>
        <div class="col-md-6 form-horizontal">
            <div class="row form-group">
            <label class="col-sm-2 control-label">Time</label>
            <div class="col-sm-3">
                <select class="form-control" id="datetimestart-hour"><option value="0">00</option><option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option></select>
            </div>
            <div class="col-sm-3">
                <select class="form-control" id="datetimestart-minute"><option value="0">00</option><option value="15">15</option><option value="30">30</option><option value="45">45</option></select>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="form-group">
        <label for="timezone">Timezone</label>
        <select class="form-control" id="timezone" name="timezone">{% for timezone in timezones %}<option{% if timezone == 'UTC' %} selected{% endif %}>{{ timezone }}</option>{% endfor %}</select>
        <p class="help-block" id="timezone-help">Select the timezone corresponding to the location of the event.</p>
    </div>
    </fieldset>
    <button type="submit" class="btn btn-lg btn-primary" id="btn-create">Save changes</button>
    <a href="{{ path('event_view',{event_id:event.id}) }}" class="btn btn-lg btn-link">Forget it.</a>
</form>

</div>


<!-- Modal -->
<div class="modal fade" id="playerAddModal" tabindex="-1" role="dialog" aria-labelledby="playerAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="player-add-form">
                <div class="modal-header">
    				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    				<h3 class="modal-title" id="playerAddModalLabel">Add a player</h3>
    			</div>
    			<div class="modal-body">
					<div class="form-group">
						<label for="playername">Name of the player</label>
						<input class="form-control" type="text" name="playername" id="playername">
					</div>
					<div class="form-group">
                        <label for="is_bye" class="checkbox-inline">
                            <input type="checkbox" id="is_bye" name="is_bye" value="1"> Bye
                        </label>
                        <label for="is_disqualified" class="checkbox-inline">
                            <input type="checkbox" id="is_disqualified" name="is_disqualified" value="1"> Disqualified
                        </label>
                        <label for="is_forfeit" class="checkbox-inline">
                            <input type="checkbox" id="is_forfeit" name="is_forfeit" value="1"> Forfeit
                        </label>
					</div>
					<div class="form-group">
						<label for="rank">Rank</label>
						<input class="form-control" type="text" name="rank" id="rank">
					</div>
					<div class="form-group">
						<label for="prestige">Prestige Points</label>
						<input class="form-control" type="text" name="prestige" id="prestige">
					</div>
					<div class="form-group">
						<label for="playername">Strength of Schedule</label>
						<input class="form-control" type="text" name="sos" id="sos">
					</div>
					<div class="form-group">
						<label for="playername">Corp Identity</label>
						<select class="form-control" name="corp_identity_id" id="corp_identity_id"><option value="">Unknown</option>{% for identity in corps %}<option value="{{ identity.id }}" class="influence-{{ identity.faction.code }}">{{ identity.title }}</option>{% endfor %}</select>
					</div>
					<div class="form-group">
						<label for="playername">Runner Identity</label>
						<select class="form-control" name="runner_identity_id" id="runner_identity_id"><option value="">Unknown</option>{% for identity in runners %}<option value="{{ identity.id }}" class="influence-{{ identity.faction.code }}">{{ identity.title }}</option>{% endfor %}</select>
					</div>
    			</div><!-- /.modal-body -->
    			<div class="modal-footer">
    				<button type="submit" class="btn btn-success">Add</button>
    				<button type="button" class="btn btn-default">Cancel</button>
    			</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->

{% endblock %}

{% block footer %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}

