{% extends 'NetrunnerdbBuilderBundle::layout.html.twig' %}

{% block head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/Flowtype.js/1.1.0/flowtype.min.js"></script>
<script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/nrdb.smart_filter.js') }}"></script>
<script src="{{ asset('/web/bundles/netrunnerdbbuilder/js/index.js') }}"></script>

<script type="text/javascript">

var Identity = null,
	Decklist = {{ decklist|json_encode|raw }},
	DeckDB = TAFFY([Decklist]),
	SelectedDeck = DeckDB().first(),
	DisplaySort = 'type';

$(function() {
	$('.page-header h1').flowtype({fontRatio:8});
});

</script>
<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "https://netrunnerdb.com/",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "http://netrunnerdb.com/find/?q={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
</script>
{% endblock %}
{% block body %}

<div class="container" id="index_page">
<div class="row">

<div class="col-lg-9">

<div class="page-header">
<h1>NetrunnerDB</h1>
<p class="">You can explore the public <a href="{{ path('decklists_list', {type:'popular'}) }}">decklists</a> or start building your own <a href="{{ path('decks_list') }}">decks</a>.</p>
</div>

<div class="row">

<div class="col-md-4"  id="recent_decklists">

	<h3 class="section">Last 10 decklists <a href="{{ path('decklists_list', {type:'recent'}) }}" class="small">more</a></h3>
	<table class="table">
	{% for decklist in decklists %}
	<tr>
	<td>
		<img src="/web/bundles/netrunnerdbcards/images/cards/en/{{ decklist.code }}.png" alt="{{ decklist.identity }}" style="width:52px">
	</td>
	<td class="decklists">
	<div>
			<a class="decklist-name" href="{{ path('decklist_detail', { 'decklist_id': decklist.id, 'decklist_name': decklist.prettyname|e('url') }) }}">{{ decklist.name }}</a>
	</div>
	<div class="small">
			<i>{{ decklist.lastpack }}</i>
	</div>
	<div class="username small">
		<a href="{{ path('user_profile_view', {user_id:decklist.user_id,user_name:decklist.username|e('url')}) }}" class="{{ decklist.usercolor }}">{{ decklist.username }}</a>
		{% if decklist.donation > 0 %}<span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span>{% endif %}
		<small class="reputation">{{ decklist.reputation }}</small>
	</div>
	<div class="small social">
		<span class="glyphicon glyphicon-heart social-icon-like"></span> {{ decklist.nbvotes }}
		<span class="glyphicon glyphicon-star social-icon-favorite"></span> {{ decklist.nbfavorites }}
		<span class="glyphicon glyphicon-comment social-icon-comment"></span> {{ decklist.nbcomments }}
	</div>
	</td>
	</tr>
	{% endfor %}
	</table>

</div><!-- #recent_decklists -->

<div class="col-md-8">

{% if decklist %}
<div id="highlight" class="decklist">

<h2 class="section">Decklist of the week </h2>
<h3><a class="decklist-name" href="{{ path('decklist_detail', { 'decklist_id': decklist.id, 'decklist_name': decklist.prettyname|e('url') }) }}">{{ decklist.name }}</a></h3>
	
<!-- Identity and Stats -->
<div class="row">
	<div class="col-sm-2">
		<img id="img_identity" src="#empty" alt="Identity" class="img-responsive  hidden-xs">
	</div><!-- /.col-md-3 -->
	<div class="col-sm-10">
        <h4 id="identity">Identity</h4>
    	<div id="influence" class="small"></div>
    	<div id="agendapoints" class="small"></div>
    	<div id="cardcount" class="small"></div>
    	<div id="latestpack" class="small"></div>
	</div>
</div>
<!-- Identity and Stats -->
	
<div id="deck-content" class="row"></div>
    
<h4>
    Description by the author:
    <span class="username">
    <a href="{{ path('user_profile_view', {user_id:decklist.user_id,user_name:decklist.username|e('url')}) }}" class="{{ decklist.usercolor }}">{{ decklist.username }}</a>
    {% if decklist.donation > 0 %}<span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span>{% endif %}
    <small title="User Reputation">{{ decklist.reputation }}</small>
    </span>
</h4>
{{ decklist.description|raw }}

</div> <!-- #highlight -->
{% endif %}


</div>

</div>

</div>

<div class="col-lg-3" id="right-column">

<div id="card_search">
	<h3 class="section">Card search <a href="{{ path('cards_about') }}" class="small">?</a></h3>
	<form method="GET" action="{{ path('cards_processSearchForm') }}" role="form">
	<div class="form-group">
	    <input type="text" class="form-control" id="card_search_form" name="q" placeholder="Enter card name or query" autocomplete="off" tabindex="1">
	  </div>
	</form>
	<table class="table table-condensed table-striped">
	<tbody id="card_search_results">
	</tbody>
	</table>
</div><!-- #card_search -->

<div id="recent_other" style="margin-bottom:2em">
		<h3 class="section">Card reviews <a href="{{ path('card_reviews_list') }}" class="small">more</a></h3>
		<div class="reviews">
		{% for review in reviews %}
		<article class="review">
		<h4>
		  <span class="pull-right"><span class="glyphicon glyphicon-heart social-icon-like"></span> {{ review.nbvotes }}</span>
		  <a href="{{ path('cards_zoom', {card_code:review.card_code}) }}#review-{{ review.id }}" class="card">{{ review.card_title }}</a>
		</h4>
		<div class="username small">
    		by <a href="{{ path('user_profile_view', {user_id:review.user_id,user_name:review.username|e('url')}) }}" class="{{ review.usercolor }}">{{ review.username }}</a>
    		{% if review.donation > 0 %}<span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span>{% endif %}
    		<small class="reputation">{{ review.reputation }}</small>
    	</div>
		<p><small>{{ review.rawtext|raw }}</small></p>
		</article>
		{% endfor %}
		</div>
</div><!-- #recent_other} -->

<div class="ad">
<!-- Adaptable -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2254488884647695"
     data-ad-slot="3777512162"
     data-ad-format="auto"></ins>
</div>

</div><!-- #right-column -->

</div> <!-- .row -->

</div> <!-- .container -->

{% endblock %}